  <head>
    <meta charset="utf-8">
    <title><%= monitorName || 'PagerMon' %> <% if ( typeof pageTitle !== 'undefined') { %> | <%= pageTitle %> <% } %></title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=yyx75bRMkG">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=yyx75bRMkG">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=yyx75bRMkG">
    <link rel="manifest" href="/manifest.json?v=yyx75bRMkG">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=yyx75bRMkG" color="#ff0000">
    <link rel="shortcut icon" href="/favicon.ico?v=yyx75bRMkG">
    <meta name="apple-mobile-web-app-title" content="PagerMon">
    <meta name="application-name" content="PagerMon">
    <meta name="msapplication-config" content="/browserconfig.xml?v=yyx75bRMkG">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Libraries -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-sanitize.min.js'></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script> -->
    <script async src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-touch.min.js"></script>
    <script async src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.slim.js" integrity="sha256-KaSi3am04I2b10TZZ7JqEYrnNk94r0QOeIY3PtwGR/M=" crossorigin="anonymous"></script>
    <!--<script async src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
    <script src="//kit.fontawesome.com/<%= faKey %>.js" crossorigin="anonymous"></script>
    <script src="/javascripts/angular-sortable-view.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/textAngular.css' />
    <% if (gaEnable) { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="//www.googletagmanager.com/gtag/js?id=<%= gaTrackingCode %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= gaTrackingCode %>');
    </script>
      <% } %>
